<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>
        Polykeep :D
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Polykeep</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <span>Accueil</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/notes" class="nav-link">
                        <span>Mes notes</span>
                    </a>
                </li>
            </ul>
            <li class="nav-item">
                <a href="/notes/collaborationNotes" class="nav-link">
                    <span>Notes en collaboration</span>
                </a>
            </li>
            <li class="nav-item" >
                <a href="/profil" class="nav-link">
                    <span>Profil</span>
                </a>
            </li>
        </div>

        <a href="/logout">Logout</a>
    </nav>
</header>
    <article class="card my-4 w-75 mx-auto">
        <div class="card-body">
            <h2 class="card-title"><span th:text="${noteDetailsId}"></span></h2>
            <div class="card-text"><p><span th:text="${noteDetailsContent}"></span></p></div>
        </div>
    </article>

    <div th:each="comment :${commentaries}" class="w-50 mx-auto">
        <div class="panel panel-default">
            <div class="panel-body">Author : <span th:text="${comment.author}"></span></div>
            <div class="panel-footer"><span th:text="${comment.content}"></span></div>
        </div>
    </div>

    <form th:action="@{/commentary/share(id_Note=${noteDetailsId})}" method="post" role="form" class="w-50 mx-auto">
        <div class="form-group">
            <label for="textAreaNote">Ecrivez votre commentaire sur cette note</label>
            <textarea name="content" class="form-control" id="textAreaNote" rows="1"></textarea>
        </div>
        <button type="submit" id="submit" class="btn btn-primary">Commenter</button>
    </form>
<footer class="container-fluid">
    <p class="text-center">Tous droits réservés - Copyright 2018</p>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>